{% extends 'professions/base.html' %}

{% block title %}Последние вакансии{% endblock %}

{% block content %}
<h2>Последние вакансии</h2>
<ul>
    <!-- Перебрать вакансии из контекста -->
    {% for job in latest_jobs %}
    <li>
        <h3>{{ job.title }}</h3>
        <p>{{ job.description }}</p>
        <p>Навыки: {{ job.skills|join:', ' }}</p>
        <p>Компания: {{ job.company }}</p>
        <p>Оклад: {{ job.salary }}</p>
        <p>Регион: {{ job.region }}</p>
        <p>Дата публикации: {{ job.published_at }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}